.Classrooms{
    .title{
        font-size: larger;
        text-align: center;
        
    }
    .input-group-text{
        min-width: 150px;
    }
    .input-group{
        max-width: 300px;
    }
    .add_classroom{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .item{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    img{
        cursor: pointer;
    }
    .classroom_table{
        overflow-y: auto;
        // max-height: calc(100% - 1000px);
    }
}