.lesson_box:active {
  border: 5px solid rgb(179, 141, 221);
}
.lesson_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(148, 77, 230);
  margin-bottom: 10px;
  .lesson_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid #7f25d9;
    margin-top: 5px;
    margin-bottom: 5px;
    p {
      margin-bottom: 0px;
    }
  }
  .teacher {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    select {
      width: 100%;
      text-overflow: ellipsis;
    }
  }
}
.teachers_ {
  width: 40%;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 37px;
    border-bottom: rgb(148, 77, 230) 5px solid;
  }
  .all_teachers {
    .teacher {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .name {
          margin-right: 10px;
        }
      }
      .bot {
        display: flex;
      }
    }
  }
}
