.Settings{
    background-color: #7F25D9;
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    img{
        color: blanchedalmond;
        width: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        
       
    }
}